<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">FC-COLOMBIA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>  
                </div>
            </div>
        </nav>
    </header>

    <main class="mt-5">

        <div class="container-fluid">

            <div class="row">
                <div class="col-12 col-md-9">
                    <img src="../public/img/convocados.jpg" alt="convoc" class="img-fluid w-100">
                </div>

                <div class="col-12 col-md-3">
                    <h3>Los convocados de Reinaldo</h3>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Edad</label>
                            <input type="number" class="form-control" id="edad">
                        </div>
                        <div class="mb-3">
                            <select class="form-select" id="posicion">
                                <option value="Arquero">Arquero</option>
                                <option value="Defensa">Defensa</option>
                                <option value="Volante">Volante</option>
                                <option value="Delantero">Delantero</option>
                              </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Equipo</label>
                            <input type="text" class="form-control" id="equipo">
                        </div>
    
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary" id="convocar">Convocar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    
    <script src="../services/conexionPOST.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>