#banner{

    background-image: url(../img/banner.jpg);
    background-size: cover;
    padding: 20% 2%;
    position:relative;
    background-attachment: fixed;
}



.bg-dark{
    background-color: transparent !important;
}

.fondoColombia{
    background-color: #ffd100;
}

#banner2{
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    height: 200px;
    background-attachment: fixed;
}